{% extends "base.html" %}
{% load static %}
{% block title %}
  Лента записей
{% endblock %}
{% block content%}
<h1>{% block header  %}Лента записей{% endblock %}</h1>
  {% for post in posts_list reversed %}
  <article>
    <ul>
      <li>
        Место: {{ post.location }}             
      </li>
      <li>
        Дата: {{ post.date }}
      </li>
      <li>
        Категория: <a href="{% url 'blog:category' post.category %}"> {{ post.category }} </a>
      </li>
    </ul>          
    <p>
      {{ post.text|truncatewords:10 }}
    </p>
    <a href="{% url 'blog:detail' post.id %}">Читать полный текст</a>
  </article>
  {% if not forloop.last %}
  <hr> 
  {% endif %}
  {% empty %}
    <p>Пока нет записей.</p>
  {% endfor %}
{% endblock %}

